.contenedor {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 1920px;
    border-style: solid;
    border-radius: 24px;
    border-width: 1px;
}
.row {
    margin: 12px;
}
.box-contents{
    border-style: solid;
    border-radius: 24px;
    border-width: 1px;
    margin-bottom: 12px; 
    background: #DBE4F0;
}
.hide-content{
    z-index: 999999 !important;
    background: #d5d1d08f;
}
.disabled-input{
    z-index: -2 !important;
}
#qr >>> .qrcode img{
    border-radius: 12px;
    width 100px;
}

.vertical-centrar{
    display: flex;
    align-items: center;
}

.title-primary{
    font-size: 14px;
    color: #272727;
    font-weight: 600;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.checkbox-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.checkbox-margin {
  margin: 0 10px;
}
.mat-checkbox-label {
    color: black;
}
.title-state{
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.state {
    color: green;
    font-size: 16px;
    font-weight: 600;
}
.content-state {
    text-align: center;
    margin: 24px;
}
.box-width {
    width: 250px;
    max-width: 250px;
}